<p>
  <strong><%= comment.commenter %> </strong>: <%= comment.body %>
</p>

<% if logged_in? && current_user.email == 'admin@kotechine.fr' %>
<p>
  <%= button_to 'Supprimer le commentaire', [comment.event, comment], method: :delete, data: { confirm: 'Etes-vous sur?' } %>
</p>
<% end %>